<% include ../partials/header %>
<section>
    <span><h5 style="text-align: right; margin-right:10px"><a target="_blank" href="/lib/extractor%201.2.0.pdf">How to use?</a></h5></span>
    <div class="jumbotron center-jumbotron">
        <div  style="text-align:center">
               <!--<span><h5><a href="https://github.com/tribpubdev/app-extractor/blob/master/README.md">How to use?</a></h5></span>-->
           </div>
            
        <row>
            <content>
               <!--<% //if(error && error.length > 0) { %>-->
               <!-- <div class="alert alert-danger" role="alert">-->
                <!--//show error message-->
               <!--  <%= //error %>-->
               <!--  </div>-->
               <!-- <% //} %> -->
  

                <h1 style="text-align: center">Enter a valid URL:</h1>
                <p>e.g. https://www.latimes.com</p>
                    <form class="form-center" action="/routes/links" method="post">
                        <input  type="text" name="urlString" placeholder="Enter the URL" required> 
                        <button onclick=""> Submit the URL</button>
                    </form>
            </content>
        </row>
    </div>
</section>
<% include ../partials/footer %>