<% include ../partials/header %>
<section>
    <row>
        <content>
            <h1>Enter a valid URL:</h1>
            <p>e.g. https://www.latimes.com</p>
                <form class="form-center" action="/routes/links" method="post">
                    <input  type="text" name="urlString" placeholder="Enter the URL" required> 
                    <button onclick=""> Submit the URL</button>
                </form>
        </content>
    </row>
</section>
<% include ../partials/footer %>