/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

html {
    background-color: #fff;
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
     /*helps to render in perfect way*/
    text-rendering: optimizeLegibility; 
}

.row {
    margin: 0 auto;
    
}
.content {
     border: 1px solid  #495388;
     max-width: 600px;
     width: 80%;
     margin: 20px auto;
     padding-top: 50px;
     padding-bottom:50px;
}

.header {
   display: inline-block;
}
.header h1 {
    text-align: left;
}

section {
    padding: 0;
}

a { 
     color: #000000;   
     text-decoration: none;
}

a:hover {
    color: #00a0e3;    
    text-decoration: underline;
}

h1 {
    font-weight: 400;
    text-transform: uppercase;
    color: #2c3e50;
    font-size: 200%;
    word-spacing: 2px;
    letter-spacing: 1px;
    /*margin: 0;*/
    margin-bottom: 20px;
}
h3 {
    font-weight: 400;
    color: #2c3e50;
    font-size: 100%;
    word-spacing: 2px;
    letter-spacing: 1px;
    /*margin: 0;*/
    margin-bottom: 20px;
}
    


p {
    font-size: 70%;
    line-height: 145%;
    text-align:center;
    margin-bottom: 20px;
}

input[type=text] {
    display: inline-block;
    color:  #495388;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #495388;
    transition: background-color 1s, color 1s;
}


button {
    display: inline-block;
    color:  #495388;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #495388;
    transition: background-color 1s, color 1s;
}

button:hover {
    background-color: #4CAF50; 
    color: #fff;
}


.form-center {
    margin: 0 auto; 
    text-align: center;
}

table,
th,
td {
    /*border: 1px solid #000000;*/
    border: none;
    padding: 1px;
    border-collapse: collapse;
}
table {
    table-layout: fixed;
    width: 100%;
}

@media screen and (max-width: 600px) {
  table {
      width:600px
  }
}


td {
    word-wrap: break-word;
}

thead,
tfoot {
    background-color: #e8e8e8;
    /*color: #fff;*/
}

.center-table {
    margin: 0px auto;
}

.table-head {
    font-weight: 400;
    background-color: #E1F9FF;
}


@media only screen and (max-width: 767px) {
    .content,
    .row{
        padding: 25px auto;
        width:  100%;
        margin: 25px auto;
    }
    table {
        max-width: 100%;
    }
}

img {
     width: 100%;
     
     
}

i {
    
    font-weight: 400;
}

.spec-background-green {
    border: none;
    display: inline-block;
    border-radius: 50%;
    padding: 3px 3px;
    height: 30px;
    width: 30px;
    background-color: green;
    margin: 5px;
}
.spec-background-red {
    border: none;
    display: inline-block;
    border-radius: 50%;
    padding: 3px 3px;
    height: 30px;
    width: 30px;
    background-color: red;
    margin: 5px;
}


.spec-image {
    border: none;
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 3px 3px;
    background-color: orange;
    margin: 5px;
}

.spec-alt-text {
    border: 1px solid black;
    display: inline-block;
    border-radius: 5%;
    /*height: 30px;*/
    width: auto;
    padding: 3px 3px;
    margin: 5px;
    /*background-color: gray;*/
}


.ui-tooltip-content {
    colore: red;
}


mark {
    background-color: #f0ad4e;
}
.mark {
  padding: 0;
  background: transparent;
  background: linear-gradient(to right, #f0ad4e 50%, transparent 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  transition: all .5s ease;
  color: #fff;
}

.mark.animate {
  background-position: left bottom;
  color: #000;
}


span {
    padding-bottom: 10px;
}

.center-jumbotron {
    margin: 0 auto;
    padding-top: 10%;
    background-color: white;
}